/* Body */

body {
  max-width: 800px;
  margin: auto;
  padding: .2em;
  font-family: Noto Sans Mono, Fira Code, Consolas, Ubuntu Mono, monospace;
  font-size: 1rem;
  line-height: 1.4;
  letter-spacing: -.02em;
  background-color: #222129;
  color: #fff;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  font-feature-settings: "liga", "tnum", "case", "calt", "zero", "ss01", "locl", "calt";
  font-variant-ligatures: contextual;
  -webkit-overflow-scrolling: touch;
  -webkit-text-size-adjust: 100%
}

h1,
h2,
h3 {
  color: #fff;
  line-height: 1.3em;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ffffffad;
}

a,
.categories {
  color: #ffa86a;
  text-decoration: none;
}

a:visited,
.categories:visited {
  color: #ffa86a;
}

a:hover,
.categories:hover {
  color: #ffa86ab3;
  text-decoration: none;
}

/* Header */

header {
  position: relative;
  width: 100%;
  height: 1.75rem;
  font-size: 1rem;
  background: #ffa86a;
  border-bottom: 1px solid #000;
  word-spacing: -0.3rem;
}

@media screen and (max-width: 600px) {
  header {
    height: 3.75rem;
  }
}

header ul,
header ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

header nav {
  padding: 0 0.5rem
}

header a,
.pull-left a,
.pull-right a {
  color: #222129;
  line-height: 1.75rem;
  padding: 0 0.5rem;
  text-decoration: none;
}

header a:hover {
  color: #442b19b3;
  text-decoration: none;
}

/* Table of contents */

#TableOfContents,
#TOC {
  border: 1px solid #eee;
  border-radius: 5px;
}

/* Header and Footer */

.menu li,
.pagination li {
  display: inline-block;
}

.post-meta,
.menu a {
  position: relative;
  margin: 0 0 15px;
  padding: 1px;
  line-height: 20px;
}

.tags a {
  font-size: 1rem;
  word-spacing: -0.3rem;
  color: #9e9b9abb;
  white-space: pre;
  text-decoration: none;
}

.tags a:visited {
  color: #9e9b9abb;
}

.tags a:hover {
  color: #b9b2b0bb;
}

.menu,
.post-meta,
footer {
  text-align: left;
}

footer {
  text-align: center;
  padding: 30px 30px;
  font-size: .9rem;
  text-decoration: none;
}

footer a {
  text-decoration: none;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

@media screen and (max-width: 600px) {
  .pull-right {
    float: left;
  }
}

/* Pagination */

.pagination {
  margin-top: 30px;
  text-align: center;
  padding: 0px;
}

.page-item.active {
  font-size: 120%;
  font-weight: bolder;
}

@media print {
  .pagination {
    display: none;
  }
}

.pagination__title {
  display: flex;
  position: relative;
  margin: 10px 0 10px;
}

.pagination__title-h {
  margin: 0 auto;
  padding: 5px 10px;
  background: rgb(34, 31, 41);
  background: rgb(34, 31, 41);
  font-size: .8rem;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: .1em;
  z-index: 1;
}

.pagination__title hr {
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  margin-top: 15px;
  z-index: 0;
}

.pagination__buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.pagination__buttons a {
  text-decoration: none;
}

.button {
  position: relative;
  display: inline-flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  border-radius: 8px;
  padding: 0;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  overflow: hidden;
}

.button+.button {
  margin-left: 10px;
}

.button a {
  display: flex;
  padding: 8px 16px;
  text-decoration: none;
}

.button__text,
.button a {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.button.next .button__icon {
  margin-left: 8px;
}

.button.previous .button__icon {
  margin-right: 8px;
}

.index-content {
  margin-top: 20px;
}

/* Code Boxes */

code {
  background: #4e3c36;
  color: #ffa86a;
  padding: 5px;
  padding-top: 1px;
  padding-bottom: 1px;
}

div.code {
  white-space: pre;
}

/* Images, tables, misc. */

img,
.cover {
  border: 5px solid #ffa86a;
  background: transparent;
}

img,
iframe,
video {
  max-width: 100%;
}

main {
  hyphens: auto;
}

blockquote {
  border-left: 5px solid #ccc;
  padding: 3px 1em 3px;
}

table {
  margin: auto;
  border-top: 1px solid #666;
  border-bottom: 1px solid #666;
}

table thead th {
  border-bottom: 1px solid #ddd;
}

th,
td {
  padding: 5px;
  padding-left: 15px;
}
