{{ partial "header.html" . }}

<div class="content-wrapper">

  {{if not .IsHome }}
    <h1>{{ .Title | markdownify }}</h1>
  {{ end }}

  {{ .Content }}

  <ul>
    {{ if .IsHome }}
      {{ $paginator := .Paginate (where .Site.RegularPages "Section" "=" .Site.Params.contentTypeName) }}
      {{ range $paginator.Pages }}
      <li>
        <span class="date">{{ .Date.Format "2006/01/02" }}</span>
        <a href="{{ .RelPermalink }}">{{ .Title | markdownify }}</a>
      </li>
      {{ end }}
    {{ else }}
      {{ $paginator := .Paginate (where .Pages "Section" "!=" "") }}
      {{ range $paginator.Pages }}
      <li>
        <span class="date">{{ .Date.Format "2006/01/02" }}</span>
        <a href="{{ .RelPermalink }}">{{ .Title | markdownify }}</a>
      </li>
      {{ end }}
    {{ end }}
  </ul>

  {{ template "_internal/pagination.html" . }}

</div>

{{ partial "footer.html" . }}
