{{ partial "header.html" . }}

<div class="post-meta">
  <h1><span class="title">{{ .Title | markdownify }}</span></h1>

  <p>{{ if .Params.date }}{{ .Date.Format "2006/01/02" }}{{ end }}{{ if .Params.author }} by {{ with .Params.author }} {{ . }} {{ end }}{{ end }}</p>

  <p>
    <span class="categories">
    {{ with ($.Param "categories") }}
      {{ range $c := . }}<a href="{{ relURL (print "/categories/" $c | urlize) }}">~/categories/{{$c}}</a> {{ end }} ❯
    {{ end }}
    </span>
    <span class="tags">
    {{ with ($.Param "tags") }}
      {{ range $t := . }}<a href="{{ relURL (print "/tags/" $t | urlize) }}">#{{$t}} </a> {{ end }}    
    {{ end }}
    </span>
  </p>

</div>

{{ if .Params.toc }}
  <p>{{ .TableOfContents }}</p>
{{ end }}

{{ if .Params.Cover }}
  <img src="{{ .Params.Cover | absURL }}" class="cover" alt="{{ .Title | plainify | default " " }}" />
{{ end }}

<div class="content-wrapper">
  <main>
    {{ .Content }}
    {{ if eq .Section .Site.Params.contentTypeName }}
      {{ if or .NextInSection .PrevInSection }}
      <div class="pagination">
        <div class="pagination__title">
          <span class="pagination__title-h">Read other posts</span>
          <hr />
        </div>
        <div class="pagination__buttons">
        {{ if .NextInSection }}
          <span class="button previous">
            <a href="{{ .NextInSection.Permalink }}">
              <span class="button__icon">←</span>
              <span class="button__text">{{ .NextInSection.Title }}</span>
            </a>
          </span>
        {{ end }}
        {{ if .PrevInSection }}
          <span class="button next">
            <a href="{{ .PrevInSection.Permalink }}">
              <span class="button__text">{{ .PrevInSection.Title }}</span>
              <span class="button__icon">→</span>
            </a>
          </span>
        {{ end }}
        </div>
      </div>
      {{ end }}
    {{ end }}
  </main>
</div>

{{ partial "footer.html" . }}

