    <footer>
      {{ partial "foot_custom.html" . }}
      {{ if .Site.Params.footer }}
        <div><span>{{ .Site.Params.footer | safeHTML }}</span>
      {{ else }}
        <div><span>Powered by <a href="http://gohugo.io">Hugo</a></span>
      {{ end }}
        <span>:: Theme made by <a href="https://gitlab.com/paapereira/hugo-theme-simple-list">paapereira</a></span>
      </div>
    </footer>
  </body>
</html>
