<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
  <head>
    {{ if isset $.Site.Params "favicon" }}
      <link rel="shortcut icon" href="{{ $.Site.Params.favicon | absURL }}">
    {{ end }}

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ if .Description }}{{ .Description }}{{ else }}{{ .Site.Params.Description }}{{ end }}">

    <title>{{ .Site.Title }}</title>

    <link rel="stylesheet" href="https://code.cdn.mozilla.net/fonts/fira.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.7.2/styles/default.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.7.2/highlight.min.js"></script>
    <script>hljs.highlightAll();</script>
    <link rel="stylesheet" href="{{ "/css/style.css" | relURL }}" />
    <link rel="stylesheet" href="{{ "/css/tomorrow-night.css" | relURL }}" />
    
    <header>
      <nav>
        <ul>
          {{ $title := lower .Title }}
          {{ $section := lower .Section }}
          <li class="pull-left {{ if .IsHome }}current{{ end }}">
            <a href="{{ .Site.BaseURL }}">{{ lower .Site.Title}} ~/ ❯</a>
          </li>
          
          {{ range .Site.Menus.main }}
          {{ $name := lower .Name }}
          <li class="pull-left {{ if eq $name $title }}current{{ else if eq $section $name }}current{{ else if eq $title (pluralize $name) }}current{{ end }}">
            <a href="{{ .URL }}">{{ lower .Name }}</a>
          </li>
          {{end}}
    
          {{ range .Site.Menus.feed }}
          {{ $name := lower .Name}}
          <li class="pull-right">
            <a href="{{ .URL }}">{{ lower .Name}}</a>
          </li>
          {{end}}
        </ul>
      </nav>
    </header>
  </head>

  <body>
